= wrap_layout :layout do

  -# Custom Styles
  - if current_page.data.background_color
    :css
      body {
        background-color: #{current_page.data.background_color};
      }
  - if current_page.data.background_image
    :css
      body {
        background-image: url(#{image_path portfolio_image(current_page.data, current_page.data.background_image)});
      }
  - if current_page.data.background_repeat
    :css
      body {
        background-repeat: #{current_page.data.background_repeat};
      }
  - if current_page.data.color
    :css
      body {
        color: #{current_page.data.color};
      }
      .m-portfolio-logo,
      .pagination-btn-inner {
        border-color: #{current_page.data.color} !important;
      }


  -# Portfolio
  .l-portfolio
    .l-portfolio-header
      - if current_page.data.logo
        .m-portfolio-logo
          = image_tag portfolio_image(current_page.data, current_page.data.logo)
        .m-content= yield
      - else
        .m-content.no-logo= yield

    -# Portfolio Images
    - if current_page.data.images && current_page.data.images.size > 0
      .m-portfolio-images
        - current_page.data.images.each do |img|
          .m-portfolio-image= image_tag portfolio_image(current_page.data, img)

    -# Pagination
    .l-pagination
      - if current_page.previous_article
        = link_to current_page.previous_article, class: "m-pagination-btn prev" do
          .pagination-btn-inner < Prev
      - if current_page.next_article
        = link_to current_page.next_article, class: "m-pagination-btn next" do
          .pagination-btn-inner Next >
