= wrap_layout :layout do
  .l-constrained
    .m-portfolio-image
      - if has_images(current_page.data)
        = async_image image_path(featured_image(current_page.data))
      - else
        = async_image image_path("LFB-mountain-range_cropped.jpg")

    .l-content
      .m-content= yield

    - image_set(current_page.data).each do |img|
      .m-portfolio-image= async_image image_path(portfolio_image(current_page.data, img))
